html {
    zoom: 100%;
}

body {
    height: 100vh;
    background-color: lightblue;
    text-align: center;
    font-size: 2em;

}
.text{
    position: relative;
    text-align: justify;
    left: calc(50% - 30%);
    font-size: 1em;
    background-color: white;
    max-width: fit-content;
    width: 60%;
    padding: 10px;

}

.variable{
    display: inline-block;
    width: 210px;
    padding: 5px;
    font-size: large;
}


h1 {
    color: black;
    text-align: center;
}

p {
    font-family: verdana;
    font-size: 20px;
}

label{
    font-size: 1.2em;
}

.navigation{
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
}

nav ul {

    list-style-type: none;
    margin: 0;
    padding: 0;
    background:#43b6f0;
    width: fit-content;

}

.navigation li {
    list-style-type:none;
    margin-right: 1px;
}

nav li a{

    text-decoration: none;
    font-weight: bold;
    display: block;
    padding: 0.2em;
}

li a:hover {
    background-color: #555;
    color: lightgray;
}



footer {
    position: relative;
    top: 10vh;
}

